@use 'sass:math';

/*! purgecss start ignore */
@import 'vendors/modern-normalize';
@import 'vendors/intTelInput';
// @import 'vendors/slick-theme';
// @import 'vendors/slick';
/*! purgecss end ignore */

@import 'utils/mixins';
@import 'vendors/tailwind';

@import 'components/input';
@import 'components/form';
@import 'components/modal';
@import 'components/cookie-banner';
// @import 'components/accordion';
// @import 'components/mobile-menu';

@import 'sections/header';
