# Ignore artifacts:
build

# Ignore app folder:
src/app/**

# Ignore crm folder:
src/crm/**

# Ignore utils.js file from js:
src/assets/js/utils.js

# Ignore input file from html:
src/html/partials/components/macro/input.html

# Ignore params file from html:
src/html/partials/params.html