{% if page.type === 'goit' %}
<link rel="apple-touch-icon" href="./assets/images/components/favicon/apple-touch-icon-goit.png" />
<link rel="icon" href="./assets/images/components/favicon/goit.svg" type="image/svg+xml" />
<link rel="manifest" href="./assets/images/components/favicon/goit.webmanifest" />
{% else %}
<link
  rel="apple-touch-icon"
  href="./assets/images/components/favicon/apple-touch-icon-goiteens.png"
/>
<link rel="icon" href="./assets/images/components/favicon/goiteens.svg" type="image/svg+xml" />
<link rel="manifest" href="./assets/images/components/favicon/goiteens.webmanifest" />
{% endif %}
