<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="index, follow" />
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="theme-color" content="#ffffff" />
{% include 'ogp.html' %}

<title>{{ page.title }}</title>

<link rel="canonical" href="{{ page.canonical }}" />
<link rel="stylesheet" href="./assets/css/style.css" />
{% include 'favicon.html' %}

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '{% if page.type === 'goit' %}GTM-TQF6X5Z{% else %}GTM-WN9FX79{% endif %}');
</script>
<!-- End Google Tag Manager -->

<!-- PHP Vars -->
<script>
  window.locale = '{{ page.lang }}';
  window.productName = '<?= $params['PRODUCT_NAME'] ?? NULL?>';
  window.productId = '<?= $params['PRODUCT_ID'] ?? NULL?>';
  window.leelooHash = '<?= $params['LEELOO_HASH'] ?? NULL ?>';
  window.leelooHashTeen = '<?= $params['LEELOO_HASH_TEEN'] ?? NULL ?>';
  window.leelooHashParent = '<?= $params['LEELOO_HASH_PARENT'] ?? NULL ?>';
  window.elzaToken = '<?= $params['ELZA_TOKEN'] ?? NULL ?>';
  window.leadFormat = '<?= $params['CAPI_LEAD_FORMAT'] ?? NULL ?>';
</script>
<!-- End PHP Vars -->
