/*! purgecss start ignore */
// Leeloo div styles
.leeloo {
  @apply mx-auto mt-12 overflow-hidden;

  & iframe {
    @apply mx-auto block;
  }

  & > div {
    width: 100%;
  }

  & > div .leeloo-lgt-form-wrapper .leeloo-lgt-form {
    width: 100% !important;
  }

  & .leeloo-lgt-form-wrapper {
    @apply block;
  }

  & .leeloo-lgt-form {
    width: 100% !important;
  }
}
/*! purgecss end ignore */

// Progress bar styles
.progress-bar {
  @apply relative mt-6 h-[10px] w-full rounded-2xl;

  & .color {
    @apply absolute h-[10px] w-0 rounded-2xl bg-accent;
    animation: progress 4s infinite linear;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.scroll-hidden {
  @apply overflow-hidden;
}

.steps-bar {
  @apply relative mx-[18px] flex justify-between border-b border-accent py-0 md:mx-10;

  & > .item.active {
    @apply border-none bg-[#FFB584] text-[#010101];
  }

  & > .item {
    @apply absolute -top-3.5 flex h-7 w-7 items-center justify-center overflow-visible whitespace-nowrap rounded-full border border-accent bg-white text-center font-normal text-[#979797];

    &:first-child {
      @apply left-0;
    }

    &:nth-child(2) {
      left: calc(50% - 10px);
    }

    &:last-child {
      @apply right-0;
    }
  }
}

.form-btn {
  @apply mt-7 w-full rounded-2xl border-2 border-transparent bg-accent p-4 text-center font-bold text-white outline-none duration-300 ease-linear hover:border-accent hover:bg-transparent hover:text-accent focus:border-accent focus:bg-transparent focus:text-accent;
}
