.input-wrap {
  @apply relative w-full font-medium;
}

.input-wrap-radio {
  @apply pb-2;
}

.input-wrap-half {
  @apply w-[calc((100%_-_1.5rem)/2)];

  & + .input-wrap-checkbox {
    @apply mt-6;
  }
}

.input-label {
  @apply mb-1 inline-block text-[14px] font-medium leading-[1.2] md:mb-2 md:text-[16px] md:leading-[1.6];
}

.input-message {
  @apply resize-none;
}

.input-field {
  @apply h-11 w-full rounded-lg border border-gray-400 bg-transparent px-4 py-2 text-[14px] font-medium leading-[1.2] md:text-[16px] md:leading-[1.25];

  &::placeholder {
    @apply text-gray-400;
  }

  &:focus {
    @apply border-accent outline-none;
  }

  &.is-invalid {
    @apply border-2 border-[#CA381F];
  }
}

input[type='tel'].input-field {
  @apply pl-14 pr-4;
}

.checkbox {
  @apply absolute left-0 top-0 inline-block h-6 w-6 rounded-full border border-gray-400 bg-contain bg-center bg-no-repeat;

  [type='radio']:checked + &,
  [type='checkbox']:checked + & {
    @apply border-accent bg-check;
  }
}

.input-label-checkbox {
  @apply relative inline-block cursor-pointer pl-10 text-[10px] font-medium leading-[1.4] md:text-[12px];

  & > .is-invalid + .checkbox {
    @apply border-2 border-[#CA381F];
  }
}

/*! purgecss start ignore */
.just-validate-error-label {
  @apply absolute bottom-0 left-0 mt-1 translate-y-[calc(100%_+_4px)]  text-[10px] font-light leading-[1.1];
}
/*! purgecss end ignore */
