.path-slide {
  @apply p-5 mb-8 min-h-[592px] relative border border-black-border rounded-[18px] md:p-8 md:mb-10 md:min-h-full md:flex md:gap-[42px]
}

.path-slide__num {
  @apply relative font-lato text-green italic text-6xl font-black leading-normal md:text-[80px]
}

.path-slide__num::before {
  content: "";

  width: 64px;
  height: 64px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: -1;

  background-image: url(../../images/sprite.svg#slide-star);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }

  @media screen and (min-width: 1280px) {
    width: 134px;
    height: 134px;
  }
}

.path-slide__day {
  @apply text-xl font-bold leading-7 md:text-2xl md:leading-8
}

.path-slide__task {
  @apply mb-5 text-lg font-bold leading-7 md:mb-8 md:w-[336px] md:text-xl xl:mb-10 xl:ml-10 xl:w-[599px] xl:text-2xl xl:leading-8
}

.path-slide__details {
  @apply pl-5 border-l border-green text-base leading-6 md:w-[320px] md:text-[18px] md:leading-7 xl:w-[469px] xl:ml-10
}

.path-slide__subtitle {
  @apply mb-3 font-bold md:mb-5
}

.path-slide__text {
  @apply font-normal
}

.path-slide__accent {
  @apply font-bold
}

.path-slide__image {
  @apply mx-auto w-[200px] h-[160px] absolute bottom-5 left-1/2 -translate-x-1/2 md:static md:translate-x-0 md:mx-0 md:my-auto md:ml-auto md:w-[260px] md:h-[212px] xl:w-[420px] xl:h-[343px]
}

.path-slide__bg {
  background-image: image-set(url(../../images/sections/path/path-bg-sm.webp) 1x,url(../../images/sections/path/path-bg-sm@2x.webp) 2x);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    background-image: image-set(url(../../images/sections/path/path-bg-md.webp) 1x,url(../../images/sections/path/path-bg-md@2x.webp) 2x);
    background-position: right;
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(url(../../images/sections/path/path-bg-xl.webp) 1x,url(../../images/sections/path/path-bg-xl@2x.webp) 2x);
  }
}

.slick-slide .path-slide {
  display: flex !important;
}