.join {
  @apply pt-10 text-white bg-green md:pt-[60px] xl:pt-[80px]
}

.join__container {
  @apply relative
}

.join__title {
  @apply mb-6 md:mb-[200px] md:w-[318px] xl:mb-[130px] xl:w-[646px]
}

.join__form {
  @apply mb-[60px] bg-white-light shadow-turquoise md:w-[336px] md:absolute md:top-0 md:right-8 xl:w-[416px] xl:h-auto
}

.join__form-title {
  @apply text-black-primary
}

.join__form-bonus {
  @apply text-white bg-green
}

.join__form-input {
  @apply border-white-border bg-white placeholder:text-black-placeholder text-black-primary
}

.join__img {
  @apply w-[280px] h-[240px] mx-auto md:w-[368px] md:h-[316px] md:-ml-8 xl:ml-0 xl:w-[468px] xl:h-[402px]
}

.join__bg {
  background-image: image-set(url(/assets/images/sections/join/join-bg-sm.webp) 1x,url(/assets/images/sections/join/join-bg-sm@2x.webp) 2x);
  background-position: bottom -118px left 50%;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    background-image: image-set(url(/assets/images/sections/join/join-bg-md.webp) 1x,url(/assets/images/sections/join/join-bg-md@2x.webp) 2x);
    background-position: bottom -110px left 0;
    background-size: auto;
  }

  @media screen and (min-width: 1280px) {
    background-image: image-set(url(/assets/images/sections/join/join-bg-xl.webp) 1x,url(/assets/images/sections/join/join-bg-xl@2x.webp) 2x);
    background-position: bottom 0 left 0;
    background-size: auto;
  }
}