{% macro inputField(arg,id) %}

<div class="input-wrap {{ arg.class }}{% if arg.radio %}input-wrap-radio{% endif %}">
  <!-- ➡️ IF select -->
  {% if arg.type == "select" %}
  <label class="input-label" for="{{ id }}_select_{{ arg.name }}">{{ arg.title }}</label>
  <select
    class="select-field"
    id="{{ id }}_select_{{ arg.name }}"
    name="{{ arg.name }}"
    data-field="{{ arg.dataField }}"
    {% if arg.required %} required="" {% endif %}
    {% if arg.readOnly %} readonly="{{ arg.readOnly }}" {% endif %}
  >
    {% for option in arg.options %}
    <option
      value="{{ option.value }}"
      {% if option.disabled %} disabled {% endif %}
      {% if option.selected %} selected {% endif %}
    >
      {{ option.text }}
    </option>
    {% endfor %}
  </select>

  <!-- ➡️ ELIF textarea -->
  {% elif arg.type == "textarea" %}
  <label class="input-label" for="{{ id }}_input_{{ arg.name }}">{{ arg.title }}</label>
  <textarea
    class="input-field input-message"
    id="{{ id }}_input_{{ arg.name }}"
    name="{{ arg.name }}"
    placeholder="{{ arg.placeholder }}"
    data-field="{{ arg.dataField }}"
    {% if arg.required %} required="" {% endif %}
  ></textarea>

  <!-- ➡️ ELIF checkbox -->
  {% elif arg.type == "checkbox" %}
  <label class="input-label-checkbox">
    <input
      class="visually-hidden"
      type="{{ arg.type }}"
      id="{{ id }}_input_{{ arg.name }}"
      name="{{ arg.name }}"
      value="agree"
      data-field="{{ arg.dataField }}"
      {% if arg.required %} required="" {% endif %}
    />
    <span class="checkbox"></span>
    {{ arg.title }}
    {% for link in arg.links %}
    <a
      class="text-accent"
      href="{{ link.href }}"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      {{ link.text }}
    </a>
    {% if not loop.last %}{{ arg.linkSeparator }}{% endif %}
    {% endfor %}
  </label>

  <!-- ➡️ ELIF radio -->
  {% elif arg.radio %}
  {% for arg in arg.radio %}
  <label class="input-label-checkbox">
    <input
      class="visually-hidden"
      type="{{ arg.type }}"
      id="{{ id }}_input_{{ arg.value }}"
      name="{{ arg.name }}"
      value="{{ arg.value }}"
      data-field="{{ arg.dataField }}"
      {% if arg.required %} required="" {% endif %}
    />
    <span class="checkbox"></span>
    {{ arg.title }}
  </label>
  {% endfor %}

  <!-- ➡️ ELSE other inputs -->
  {% else %}
  {% if arg.title %}
  <label class="input-label" for="{{ id }}_input_{{ arg.name }}">{{ arg.title }}</label>
  {% endif %}
  <input
    class="input-field"
    type="{{ arg.type }}"
    id="{{ id }}_input_{{ arg.name }}"
    name="{{ arg.name }}"
    data-field="{{ arg.dataField }}"
    data-type="{{ arg.type }}"
    {% if arg.required %} required="" {% endif %}
    {% if arg.accept %} accept="{{ arg.accept }}" {% endif %}
    {% if arg.readOnly %} readonly="{{ arg.readOnly }}" {% endif %}
    {% if arg.placeholder %} placeholder="{{ arg.placeholder }}" {% endif %}
    {% if arg.autocomplete %} autocomplete="{{ arg.autocomplete }}" {% endif %}

  />
  {% endif %}
</div>
{% endmacro %}
