{% set section = hero %}

<section class="{{section.id}}">
  <div class="container md:flex md:gap-8 xl:gap-0 xl:justify-between">
    <div>
      <p class="hero__pre-title">
        {{ section.content.preTitle }}
      </p>
      <h1 class="hero__title">
        {{ section.content.title.main }}
        <span class="hero__title-accent">
          {{ section.content.title.accent }}
        </span>
      </h1>
      <p class="hero__description">
        {{ section.content.description }}
      </p>
      <span class="hero__start">
        {{ section.content.start }}
      </span>
      <img
        class="hero-img"
        width="560"
        height="175"
        alt="{{section.altImg}}"
        src="./assets/images/sections/hero/hero-image.webp"
        srcset="./assets/images/sections/hero/hero-image@2x.webp 2x"
      />
    </div>
    {% include 'components/formFields.njk' %}
  </div>
</section>