{% set component = components.accordion %}

<ul>
  {% for item in component.items %}
  <li
    class="accordion-item cursor-pointer overflow-hidden border border-black"
    aria-expanded="false"
  >
    <button class="accordion-btn pointer-events-none relative block w-full" type="button">
      <span class="block">{{item.question}}</span>
      <svg class="accordion-svg" aria-label="{{component.svgAria}}" width="18" height="8">
        <use href="./assets/images/sprite.svg#accordion-arrow"></use>
      </svg>
    </button>
    <p class="accordion-answer cursor-auto">{{item.answer}}</p>
  </li>
  {% endfor %}
</ul>
