{% if page.lang === 'uk' and page.type === 'goit' %} {% set component = components.cookieBanner.uk
%}
<!--  -->
{% elif page.lang === 'pl' and page.type === 'goit' %} {% set component = components.cookieBanner.pl
%}
<!--  -->
{% elif page.lang === 'en' and page.type === 'goit' %} {% set component = components.cookieBanner.en
%}
<!--  -->
{% elif page.lang === 'ro' and page.type === 'goit' %} {% set component = components.cookieBanner.ro
%}
<!--  -->
{% endif %}

<div
  class="backdrop-cookie-banner cookie-banner-is-hidden visible absolute bottom-0 left-0 right-0 top-0 z-[100] grid items-end justify-items-end bg-black/[.80] opacity-100 duration-300 ease-linear"
  data-{{component.id}}
>
  <div
    class="cookie-banner mx-auto max-h-[288px] w-[97%] max-w-[380px] rounded-t-xl bg-white px-5 py-9 text-black opacity-100 duration-300 ease-linear md:max-h-[128px] md:max-w-[760px] xl:max-h-[96px] xl:max-w-[1280px] xl:px-8 xl:py-4"
  >
    <div class="grid items-center justify-center md:flex md:justify-between">
      <h2 class="mb-10 text-base md:mb-0 md:block md:max-w-[512px] xl:max-w-none">
        {{component.title}}
        <a
          class="inline text-accent underline"
          href="{{component.policy.link}}"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{component.policy.text}}</a
        >
        {{component.separator}}
        <a
          class="inline text-accent underline"
          href="{{component.terms.link}}"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >{{component.terms.text}}</a
        >
      </h2>
      <button class="form-btn md:w-[205px]" type="button" data-accept-cookie-btn>
        {{component.btn}}
      </button>
    </div>
  </div>
</div>
