{% set formId = section.id %}

<form
  class="form {{formId}}__form"
  id="{{formId}}"
  novalidate
  autocomplete="on"
>
  <img
    class="form-img"
    width="95"
    height="100"
    alt="{{section.altImg}}"
    src="./assets/images/sections/form/present.webp"
    srcset="./assets/images/sections/form/present@2x.webp 2x"
  />
  <h2 class="form-title {{formId}}__form-title">
    {{ form.title }}
  </h2>
  <p class="form-bonus {{formId}}__form-bonus">
    {{ form.bonus.preText }}<span class="form-accent">{{ form.bonus.accentText }}</span>{{ form.bonus.afterText }}
  </p>
  {% include 'components/timer.html' %}
  <div class="flex flex-wrap gap-[18px]">
    {% block formFields %}{% endblock %}
  </div>
  <button
    class="form-btn text-[16px] leading-[1.5] disabled:border-none disabled:bg-gray-200 disabled:hover:text-white md:text-[20px] md:leading-[1.2]"
    type="submit"
  >
    {{ form.btnSubmit }}
  </button>
</form>