{% set component = components.logo %}

<!-- ➡️ IF PAGE TYPE GOIT -->
{% if page.type === 'goit' %}
<!-- IF HEADER -->
{% if section.id === 'header' %}
<a
  class="block w-max duration-300 hover:scale-105 focus:scale-105"
  href="{{page.canonical}}"
  aria-label="{{component.link_logo_aria}}"
>
  <svg class="fill-black" width="120" height="36" aria-label="{{component.logo_aria}}">
    <title>{{component.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo"></use>
  </svg>
</a>
<!-- ELSE FOOTER -->
{% else %}
<a
  class="flex justify-center opacity-30 duration-300 hover:scale-105 hover:opacity-100 focus:scale-105 focus:opacity-100 smOnly:mb-8"
  href="{{page.canonical}}"
  aria-label="{{component.link_logo_aria}}"
>
  <svg class="fill-white" width="100" height="30" aria-label="{{component.logo_aria}}">
    <title>{{component.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo"></use>
  </svg>
</a>
{% endif %}

<!-- ➡️ ELSE PAGE TYPE GOITEENS -->
{% else %}
<!-- IF HEADER -->
{% if section.id === 'header' %}
<a
  class="block w-max duration-300 hover:scale-105 focus:scale-105 smOnly:mx-auto"
  href="{{page.canonical}}"
  aria-label="{{component.link_logo_aria}}"
>
  <svg
    class="md:h-[36px] md:w-[142px]"
    width="118"
    height="30"
    aria-label="{{component.logo_aria}}"
  >
    <title>{{component.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo-goiteens"></use>
  </svg>
</a>
<!-- ELSE FOOTER -->
{% else %}
<a
  class="block w-max duration-300 hover:scale-105 focus:scale-105 smOnly:mx-auto"
  href="{{page.canonical}}"
  aria-label="{{component.link_logo_aria}}"
>
  <svg
    class="md:h-[36px] md:w-[142px]"
    width="118"
    height="30"
    aria-label="{{component.logo_aria}}"
  >
    <title>{{component.logo_aria}}</title>
    <use href="./assets/images/sprite.svg#logo-goiteens"></use>
  </svg>
</a>
{% endif %} {% endif %}
