{% set component = components.timer %}
<!--  -->
{% if component.startDate.active === true %} {% set component = component.startDate %}
<!--  -->
{% elif component.fixedTime.active === true %} {% set component = component.fixedTime %}
<!--  -->
{% endif %}

<div data-timer="{{component.count}}" class="timer">
  <!-- <p>{{component.text}}</p> -->
  <ul class="flex justify-center">
    {% for item in component.items %}
    <li class="grid text-center">
      <span class="max-w-max time-counter px-2" {{item.attribute}}>00</span>
      <span class="time-text">{{ item.text }}</span>
    </li>
    {% if not loop.last %}
    <li class="time-counter">:</li>
    {% endif %} {% endfor %}
  </ul>
</div>
